.contact-form-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50%;
  @media all and (max-width: 991px) {
    position: relative;
  }

  @media all and (max-width: 360px) {
    margin-top: 40%;
  }

  @media all and (max-width: 320px) {
    margin-top: 20%;
  }


}

.absolute-container {
  position: absolute;
  z-index: 10;
}

.wpcf7 {
  width: 80%;
  margin: 0 auto !important;
  text-align: center;

  @media all and (max-width: 991px) {
    width: 100%;
  }

  p {
    margin: 0 !important;
    display: inline;
  }

  div {
    margin: 5px 0px;
    @media all and (max-width: 991px) {
    margin-left: 0px;
    }
  }

  br {
    display: none;
  }

  .cfield {
    width: 49%;
    background: transparent;
    border: 1px solid rgb(127, 127, 127);
    height: 2.5em;
    font-size: 1em;
    font-family: $baraged;
    color: #fff;
    padding-left: 10px;
    @include placeholder {
      color: #fff;
    }
    @media all and (max-width: 991px) {
      display: block;
      width: 100%;
    }

  }

  .cfield-left {
    margin-right: 1%;
    @media all and (max-width: 991px) {
      margin-right: 0;
    }
  }

  .cfield-right {
    margin-left: 1%;
    @media all and (max-width: 991px) {
      margin-left: 0;
      margin: 5px 0px;
    }
  }

  #cmessage {
    resize: none;
    width: 100%;
    height: 7em;
    padding-top: 10px;
    @media all and (max-width: 320px) {
      height: 5em;
    }

  }

  #form-submit {
    margin-top: 15px;
    width: 50%;
    @media all and (max-width: 991px) {
      width: 100%;
    }
  }
}

.absolute-container {
  position: absolute;
  z-index: 10;

  @media screen and (max-width:991px){
    position: relative;
  }
}

div.wpcf7-response-output {
  color: #fff;
}


/*oldlucky13*/

.contact-form-container{
  width:80%;
  margin: 0 auto;
  height: 100vh;
  @media screen and (max-width:991px){
    width: 100%;
  }
}

.wpcf7{
  width: 70%;
  margin: 0 auto !important;
  text-align: center;
  @include transform(translate(-50%,10%));
  top: 50%;
  left: 50%;
  position: absolute;

  @media screen and (max-width:991px){
    width: 70%;
    @include transform(translate(-50%,10%));
  }

  @media all and (max-width: 425px) {
    top: 65%;
  }

}

.absolute-container img{
  display: none;
  @media screen and (max-width:991px){
    width: 55%;
    display: block;
    margin: 40px auto;
  }
}


.social-container{
  width: 80%;
   @include display(flex);
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 15px;

     & ul{
      margin: 0;
      padding: 0;
      width: 70%;
      text-align: center;
    }

    & li{
      list-style-type: none;
      display: inline-block;
      width: 15%;
      text-align: center;
    }

    & img{
      width: 45px;
    }

    @media screen and (max-width:991px){
      display:none;
    }

}

.social-container-mobile{
  width: 100%;
   @include display(flex);
    justify-content: center;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 25.5%;

     & ul{
      margin: 0;
      padding: 0;
      width: 70%;
      text-align: center;
    }

    & li{
      list-style-type: none;
      display: inline-block;
      width: 25%;
      text-align: center;
    }

    & img{
      width: 45px;
    }

    @media screen and (min-width:991px){
      display:none;
    }

}
