.contact-form-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 50%;
}

.wpcf7 {
  width: 80%;
  margin: 0 auto !important;
  text-align: center;

  p {
    margin: 0 !important;
    display: inline;
  }

  div {
    margin: 5px 0px;
    @media all and (max-width: 991px) {
    margin-left: 0px;
    }
  }

  br {
    display: none;
  }

  .cfield {
    width: 49%;
    background: transparent;
    border: 1px solid rgb(127, 127, 127);
    height: 3em;
    font-size: 1em;
    font-family: $baraged;
    color: #fff;
    padding-left: 10px;
    @include placeholder {
      color: #fff;
    }
    @media all and (max-width: 991px) {
      display: block;
      width: 100%;
    }

  }

  .cfield-left {
    margin-right: 1%;
    @media all and (max-width: 991px) {
      margin-right: 0;
    }
  }

  .cfield-right {
    margin-left: 1%;
    @media all and (max-width: 991px) {
      margin-left: 0;
      margin: 5px 0px;
    }
  }

  #cmessage {
    resize: none;
    width: 100%;
    height: 10em;
    padding-top: 10px;
  }

  #form-submit {
    margin-top: 15px;
    width: 50%;
    @media all and (max-width: 991px) {
      width: 100%;
    }
  }
}
