@font-face {
	font-family: 'Barley Rough';
	src: url('../fonts/BarleyRough-Regular.eot');
	src: url('../fonts/BarleyRough-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BarleyRough-Regular.woff') format('woff'),
		url('../fonts/BarleyRough-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Barley';
	src: url('../fonts/Barley-Regular.eot');
	src: url('../fonts/Barley-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Barley-Regular.woff') format('woff'),
		url('../fonts/Barley-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wheat Rough';
	src: url('../fonts/WheatRough-Regular.eot');
	src: url('../fonts/WheatRough-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WheatRough-Regular.woff') format('woff'),
		url('../fonts/WheatRough-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Barley Aged';
	src: url('../fonts/BarleyAged-Regular.eot');
	src: url('../fonts/BarleyAged-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/BarleyAged-Regular.woff') format('woff'),
		url('../fonts/BarleyAged-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wheat';
	src: url('../fonts/Wheat-Regular.eot');
	src: url('../fonts/Wheat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Wheat-Regular.woff') format('woff'),
		url('../fonts/Wheat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Wheat Aged';
	src: url('../fonts/WheatAged-Regular.eot');
	src: url('../fonts/WheatAged-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/WheatAged-Regular.woff') format('woff'),
		url('../fonts/WheatAged-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Boton';
	src: url('../fonts/Boton-Light.eot');
	src: url('../fonts/Boton-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Boton-Light.woff') format('woff'),
		url('../fonts/Boton-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
