.mobile-nav {
  @media all and (max-width: 991px) {
    background: #000;
    padding-top: 15px;
    padding-bottom: 5px;
    // not final
    position: absolute;
    width: 100%;
    z-index: 20;
    top: 0;
  }

  @media all and (max-width: 320px) {
    padding-top: 10px;
  }


}

.main-page-txt-mobile {
  @media all and (max-width: 991px) {
    height: 100%;
  }

}

.plus-button {
  position: absolute;
  bottom: 4%;
  left: calc(50% - 12.5px);
  background: #e8e5dd;
  border: 2px solid #86754D;
  padding: 25px 25px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 2;

  i {
    position: absolute;
    top: 25%;
    left: 29.5%;
    font-size: 2em;
  }
  @media all and (max-width: 991px) {
    bottom: 12%;
    left: calc(50% - 27.5px)
  }

  @media all and (max-width: 320px) {
    bottom: 14%
  }

}

#btn-contactfake {
  display: none !important;
}
#btn-homefake {
  display: none !important;
}

.mobile-main-page-overlay {
  @media all and (max-width: 991px) {
    height: 100%;
    width: 100%;
    position: absolute;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
  }
}

.s-back-mobile {
  display: none;
  @media all and (max-width: 991px) {
    width: 110%;
    background-color: $icon-color;
    height: 0px;
    // height: 62px;
    position: fixed;
    top: 0px;
    z-index: 999;
    cursor: pointer;
  }



}
// ios devices need to account for url bar
// .s-back-mobile, .mobile-nav, .button_container {
//   // 4
//   @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//     top: 36px;
//   }
//   // 5
//   @media only screen
//   and (min-device-width: 320px)
//   and (max-device-width: 568px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: portrait) {
//     top: 36px;
//   }
//   // 6
//   @media only screen
//   and (min-device-width: 375px)
//   and (max-device-width: 667px)
//   and (-webkit-min-device-pixel-ratio: 2) {
//     top: 36px;
//   }
//   // 7
//   @media only screen
//   and (min-device-width: 414px)
//   and (max-device-width: 736px)
//   and (-webkit-min-device-pixel-ratio: 3)
//   and (orientation: portrait) {
//     top: 36px;
//   }
// }

.last-mobile-s-text {
  width: 75%;
  padding-top: 0px;
}

#cowboy-line {
  @media all and (max-width: 991px) {
    height: 7%;
  }

}

.ajaxSection {
  .plus-button {
    @media all and (max-width: 991px) {
      left: calc(50% - 2px);
      padding: 2px 2px;
    }
    @media all and (min-width: 992px) {
      display: none !important;
    }

  }
}

#btn-boots {
  bottom: 18%;
}

#landing-title {
  position: absolute;
  height: 300px;
  padding: 20px;
  width: 500px;
  top: 50%;
  left: 50%;
   @include  transform(translate(-50%,-70%));

  @media all and (max-width: 480px) {
    height: 210px;
    padding: 20px;
    width: 350px;
    top: 40%;
   // margin: -136px 0 0 -180px;
  }

}

#landing-text {
  position: absolute;
  bottom: 1%;
  width: 100%;
  left: 50%;
  top:75%;
  height: 100px;
  @include transform(translateX(-50%));

  button {
    position: absolute;
    bottom: inherit;
    left: 50%;
    margin-top: 0;
    @include  transform(translateX(-50%));

    @media screen and (max-width:480px){
      bottom: 12px;
    }

    &:hover {
      color: #fff !important;
    }
  }

  h3 {
    font-family: $baraged;
    color: $font-color;
    font-size: 1.3em;
    width:100%;
    text-align:center;
    @media screen and (max-width:480px){
      margin-left: 0;
    }

  }

  @media all and (max-width: 425px) {
    bottom: 75px;
    top: inherit;

  }

}

.mobile-back-arrow {
  vertical-align: middle;
  width: 30px !important;
  position: absolute !important;
  // left: 50% !important;
  left: calc(50% - 26px) !important;
  top: 50% !important;
  opacity: 0;
}

.ajaxSection {
  @media all and (max-width: 991px) {
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

}

.s-back-mobile {
  backface-visibility: hidden;
}
