.mobile-nav {
  @media all and (max-width: 991px) {
    background: #000;
    padding-top: 15px;
    padding-bottom: 5px;
    // not final
    position: absolute;
    width: 100%;
    z-index: 20;
    top: 0;
  }

  @media screen and (max-device-width: 425px) {
    // hold off on this while position relative is on parent element
    // top: -25px;
  }


}

.main-page-txt-mobile {
  @media all and (max-width: 991px) {
    height: 100%;
  }

}

.plus-button {
  position: absolute;
  bottom: 4%;
  left: calc(50% - 12.5px);
  background: #e8e5dd;
  border: 2px solid #86754D;
  padding: 25px 25px;
  border-radius: 40px;
  cursor: pointer;
  z-index: 2;

  i {
    position: absolute;
    top: 25%;
    left: 29.5%;
    font-size: 2em;
  }
  @media all and (max-width: 425px) {
    bottom: 12%;
    left: calc(50% - 27.5px)
  }

}

#btn-contactfake {
  display: none !important;
}
