.icon-section {
  width: 50%;
  padding: 10px 0px;
  margin: 0 auto;
  border-top: 1px solid $icon-color;
  border-bottom: 1px solid $icon-color;
  margin-top: 40px;

  @media all and (min-width: 1491px) {
    width: 33.33%;
  }

}

.icon-text {
  padding-left: 10px;
  font-size: 0.6em;
  font-family: $baraged;

  @media all and (min-width: 1004px) {
    font-size: 0.7em;
  }

  @media all and (min-width: 1130px) {
    font-size: 0.8em;
  }
  // @media all and (min-width: 1683px) {
  //   font-size: 0.8em;
  // }

  @media all and (min-width: 1865px) {
    font-size: 0.9em;
  }

}

.icon-container {
  width: 40px;
  text-align: center;
}

.drink-icon {
  height: 20px;
  width: 20px;
}
