.icon-section {
  width: 33.33%;
  padding: 10px 0px;
  margin: 0 auto;
  border-top: 1px solid $icon-color;
  border-bottom: 1px solid $icon-color;
  margin-top: 40px;
}

.icon-text {
  padding-left: 5px;
  font-size: 0.9em;
}

.drink-icon {
  height: 20px;
}
