.button_container {
  position: absolute;
  top: 2%;
  left: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity .25s ease;
  transform: scale(0.7);
  &:hover {
    opacity: .7;
  }

  &.active {
    .top {
      @include transform(translateY(11px) translateX(0) rotate(45deg));
      // background: white;
    }
    .middle {
      opacity: 0;
      // background: white;
    }

    .bottom {
      @include transform(translateY(-11px) translateX(0) rotate(-45deg));
      // background: white;
    }
  }

  span {
    background: $icon-color;
    border: none;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition:  all .35s ease;
    cursor: pointer;

    &:nth-of-type(2) {
      top: 11px;
    }

    &:nth-of-type(3) {
      top: 22px;
    }
  }
}


//  menuContainer


.menu-container {
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // height: 0%;
    opacity: 0;
    display: none;
    // visibility: hidden;
    // @include transition(opacity .35s, visibility .35s, height .35s);
    overflow: hidden;
    z-index: 99;

    //  LEAVE FOR SLIDE DOWN. GIVE CLASS 100% HEIGHT AND POSITION OFFSCREEN/GREENSOCK FOR J
    &.open {
      // opacity: 1;
      // visibility: visible;
      // height: 100%;
      //
      li {
       // @include animation(fadeInRight .5s ease forwards);
        //@include animation-delay(.35s);

        &:nth-of-type(2) {
          @include animation-delay(.4s);
        }
        &:nth-of-type(3) {
           @include animation-delay(.45s);
        }
        &:nth-of-type(4) {
           @include animation-delay(.5s);
        }
      }
    }
    .menu-left {
      position: relative;
      // height: 70%;
      height: 100%;
      width: 51%;
      left: -100%;
      // top: 50%;
      // @include transform(translateY(-50%));
      font-size: 1em;
      font-family: serif;
      font-weight: 400;
      text-align: center;
      background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top, #4c4c4c 0%, #000000 0%, #1c1c1c 21%, #595959 41%, #595959 59%, #1c1c1c 81%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #4c4c4c 0%,#000000 0%,#1c1c1c 21%,#595959 41%,#595959 59%,#1c1c1c 81%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #4c4c4c 0%,#000000 0%,#1c1c1c 21%,#595959 41%,#595959 59%,#1c1c1c 81%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */

    #nav-menu {
      padding: 5%;
    }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0 auto;
      display: inline-block;
      position: relative;
      height: 100%;

      li {
        display: block;
        height: 25%;
        @include calc(height, "100% / 6");
        min-height: 50px;
        position: relative;
        opacity: 1;

        a {
          display: block;
          position: relative;
          // color: $color-link;
          text-decoration: none;
          // overflow: hidden;
          // text-transform: uppercase;
          // font-family: $paragraphFont;

          &:hover:after,
          &:focus:after,
          &:active:after {
           width: 100%;
         }

         &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0%;
          @include transform(translateX(-50%));
          height: 3px;
          // background: $accent-color;
          transition: .35s;
          -webkit-transition: .35s;
        }
      }
    }
  }
}

.square {
  display: inline-block;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  background: black;
  margin: 2.66%;

  .square-content {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;

    .table {
      display: table;
      height: 100%;
      width: 100%;

      .table-cell {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        width: 100%;

        a {
          color: white;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}


//
// .square-grid {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
// }
//
// .square-grid__cell {
//   background-color: rgba(0, 0, 0, 0.03);
//   box-shadow: 0 0 0 1px black;
//   overflow: hidden;
//   position: relative;
//   margin: 1.66%;
// }
//
// .square-grid__content {
//   left: 0;
//   position: absolute;
//   top: 0;
// }
//
// .square-grid__cell:after {
//   content: '';
//   display: block;
//   padding-bottom: 100%;
// }
//
// .square-grid__cell--3 {
//   flex-basis: 33.333%;
// }
//
// .square-grid__cell--2 {
//   flex-basis: 50%;
// }
